/* Base */

/* Eventually, modern browsers will support CSS 4 System Colors
 * (<https://www.w3.org/TR/css-color-4/#css-system-colors>).  Until
 * then, browser-specific stuff is needed.
 *
 * See:
 * <https://bugzilla.mozilla.org/show_bug.cgi?id=1590894>
 * <https://bugs.chromium.org/p/chromium/issues/detail?id=1015968#makechanges>
 * <https://www.chromestatus.com/feature/5678291530809344>
 * */

:root {
 --color-background: Window;
 --color-foreground: WindowText;
 --color-inactive: GrayText;
 --color-active: Highlight;
 --font-main: caption;
}

:root.gecko {
 --color-background: -moz-field;
 --color-foreground: -moz-fieldtext;
}

:root.webkit {
 --color-active: -webkit-link;
}

body, input, textarea {
 background: var(--color-background);
 color: var(--color-foreground);
 font: var(--font-main);
}
input, textarea {
 background: transparent;
}
a, a:hover, a:visited {
 color: var(--color-active);
 text-decoration: none;
}
a:hover {
 text-decoration: underline;
}


/* App */

body {
 margin: 0.625em 0.75em 0.75em 0.75em;
}

#title {
 /* 100%
  *  - (#toolbar a){width + padding-(left + right) + margin-left} * <n-buttons>
  *  - #toolbar{right} - body{margin-right} / #toolbar{font-size} * 1.5 */
 max-width: calc(100% - (0.6875em + 0.25em * 2 + 0.125em) * 4 - 0.25em - 0.75em / 2 * 1.5);
 height: 1.125em;
}
#title:not(:focus) {
 text-overflow: ellipsis;
}
#title, #body {
 display: block;
 border: none;
 border-bottom: 2px solid var(--color-inactive);
 transition: border-bottom 0.125s linear;
}
#title:focus, #body:focus {
 border-bottom-color: var(--color-active);
 outline: none;
}
#title, #toolbar a {
 font-size: 2em;
}
#toolbar {
 position: absolute; top: 0.5em; right: 0.25em;
 margin: 0 0.5em;
 color: var(--color-active);
}
#toolbar a {
 display: inline-block;
 width: 0.6875em; height: 0.6875em; line-height: 0.6875;
 padding: 0.25em; margin-top: 0.125em; margin-left: 0.125em;
 /* `a { color: -webkit-link; }` causes visited links to be colored differently */
 color: inherit;
 outline: 2px solid transparent;
 transition: outline-color 0.125s linear;
 -webkit-tap-highlight-color: transparent;
}
#toolbar a:focus {
 outline-color: inherit;
}
#body {
 margin-top: 1em;
 width: calc(100% - 0.25em);
 max-height: calc(100vh - 5.25em);
 line-height: 1.25;
 resize: none;
}
#file {
 display: none;
}

@media screen and (max-width: 480px) {
 #title, #toolbar a {
  font-size: 1.5em;
 }
}
